$d1-size: 5.5rem;
$h1-size: 80px;
$h2-size: 65px;
$h3-size: 52px;
$h4-size: 38px;
$h5-size: 22px;
$lead-size: 24px;

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.3125rem;
}

.display-1 {
  font-weight: theme("fontWeight.extralight");
  letter-spacing: theme("letterSpacing.tight");
  color: theme("textColor.slate.800");
  font-size: $d1-size;

  @media screen and (max-width: 1024px) {
    font-size: calc($d1-size / 1.5);
  }
}

.display-2 {
  font-size: theme("fontSize.8xl");
  font-weight: theme("fontWeight.extralight");
  letter-spacing: theme("letterSpacing.tight");
  color: theme("textColor.slate.800");
}

.display-3 {
  font-size: theme("fontSize.7xl");
  font-weight: theme("fontWeight.extralight");
  letter-spacing: theme("letterSpacing.tight");
  color: theme("textColor.slate.800");
}

h1 {
  font-size: $h1-size;
  font-weight: theme("fontWeight.semibold");
  line-height: theme("lineHeight.none");
  letter-spacing: theme("letterSpacing.tight");

  @media screen and (max-width: 1024px) {
    font-size: calc($h1-size / 1.5);
  }
}

h2 {
  font-size: $h2-size;
  font-weight: theme("fontWeight.semibold");
  letter-spacing: theme("letterSpacing.tight");

  @media screen and (max-width: 1024px) {
    font-size: calc($h2-size / 1.5);
  }
}

h3 {
  font-size: $h3-size;
  font-weight: theme("fontWeight.semibold");
  letter-spacing: theme("letterSpacing.tight");

  @media screen and (max-width: 1024px) {
    font-size: calc($h3-size / 1.25);
  }
}

h4 {
  font-size: $h4-size;
  font-weight: theme("fontWeight.bold");

  @media screen and (max-width: 1024px) {
    font-size: calc($h4-size / 1.15);
  }
}

h5 {
  font-size: $h5-size;
  font-weight: theme("fontWeight.semibold");
  // letter-spacing: theme("letterSpacing.tight");

  @media screen and (max-width: 1024px) {
    font-size: calc($h5-size / 1.25);
  }
}

h6 {
  font-size: theme("fontSize.base");
  font-weight: theme("fontWeight.semibold");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  white-space: balance;
}

p {
  @apply tracking-wide;
  font-weight: theme("fontWeight.normal");

}

.lead {
  @apply dark:text-slate-300;
  font-size: $lead-size;
  line-height: 1.35;
  // color: theme("textColor.slate.700");

  @media screen and (max-width: 1024px) {
    font-size: calc($lead-size / 1.25);
    text-wrap: balance;
    // max-width: 50%;
  }
}

.small {
  font-size: 0.875rem;
}

.footer-link {
  font-size: 0.875rem;
}

.text-balance {
  text-wrap: balance;
}

.text-pretty {
  text-wrap: pretty;
}
